<form role="form" action="/session" method="post">
  <h4>Sign in</h4>

  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input type="text" class="form-control" name="name" placeholder="Name">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-lock"></i></span>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <button class="btn btn-theme-bg pull-right">Sign in</button>
    <!--                                        <button type="submit" class="btn btn-theme pull-right">Login</button>                 -->
    <div class="clearfix"></div>
  </div>
</form>