<div class="slides-container">
  <div class="slide" id="slide-1">
    <div class="centered" id="title">
      <h1>Weight Tracker</h1>
      <h2>Track your weights and get FIT.</h2>
      <% if logged_in? %>
        <p> Welcome back to your <a href="/app"><%= current_budget.title %></a> 
          <form action="/session" method="post">
            <input type="hidden" name="_method" value="delete">
            <div class="index-button">
              <button>Log out</button>
            </div>
          </form>
        </p>
      <% else %>
        <nav class="sign-up"><a href="#slide-3">Try Me!</a></nav>
        <nav class="sign-in"><a href="#slide-2">Log in</a></nav>
      <% end %>
    </div>
  </div>

  <div class="slide" id="slide-2">
    <div class="centered">
      <h1>Log in</h1>
      <p>
        <form action="/session" method="post">
          <div class="budget-title">
            <label for="name">Your name</label>
            <input type="text" name="name">
          </div>
          <div class="budget-password">
            <label for="password">password</label>
            <input type="password" name="password">
          </div>
          <div class="index-button">
            <button><nav class="sign-in"><a href="#slide-2">Log in</a></nav></button>
          </div>
        </form>
      </p>
      <nav class="button"><a href="#slide-1">Back</a></nav>

    </div>
  </div>

  <div class="slide" id="slide-3">
    <div class="centered">
      <h1>Create your budget</h1>
      <form action="/users" method="post">
        <div class="budget-title">
          <label for="name">Your name</label>
          <input type="text" name="name">
        </div>
        <div class="budget-password">
          <label for="password">password</label>
          <input type="password" name="password">
        </div>
        <div class="budget-budget">
          <label for="height">Height</label>
          <input type="number" step="0.01" name="height">
        </div>
        <div class="index-button">
          <button class="sign-up">Create</button>
        </div>
      </form>
      <nav class="button"><a href="#slide-1">Back</a></nav>
    </div>
  </div>
</div>

