.budget-title, .budget-password, .budget-budget, .index-button, .sign-up, .sign-in, .button, h2{
  text-align: center;
  padding: 10px;
}

#title{
  background-color: rgba(220,220,220,0.5);
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
  border-radius: 0.5em;
  border: 1px solid #555;
  -webkit-box-shadow: 0 4px 0 0 #557;
  -moz-box-shadow: 0 4px 0 0 #557;
  box-shadow: 0 4px 0 0 #557;
}

h2{
  color: #aa7;
  font-size: 1em;
}

.hidden{
  display: none;
}

input,
label,
select,
button,
textarea
{
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;
  
}
 
/* Remove the stupid outer glow in Webkit */
input:focus
{
  outline:0;
}
 
/* Box Sizing Reset
-----------------------------------------------*/
 
/* All of our custom controls should be what we expect them to be */
input,
textarea
{
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}
 
/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input{
  margin: 10px;
  border-bottom: 1px solid black;
  text-align: center;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill,
input:-moz-autofill, textarea:-moz-autofill, select:-moz-autofill,
input:autofill, textarea:autofill, select:autofill {
  background-color: none;
  background-image: none;
  color: rgb(0, 0, 0);
}


