body, div, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    letter-spacing: 0.0625em;
}

a {
    text-decoration: none;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    list-style: none;
    text-align: center;
    margin-top: 30px;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

#back-to-tutorial {
    margin-left: 100px;
}

.button a {
    position: relative;
    top: 20px;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 0.4em;
    background-color: #FFFFFF;
    color: #83C78E;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.button a:hover {
    top: 20px;
    background-color: #69C773;
    color: #FFFFFF;
    -webkit-box-shadow: 0 0.25em 0 0 #51a65f;
    -moz-box-shadow: 0 0.25em 0 0 #51a65f;
    box-shadow: 0 0.25em 0 0 #51a65f;
}

.sign-up a{
    position: relative;
    top: 0;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 0.4em;
    background-color: #fba;
    color: #e25;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sign-up a:hover {
    top: -0.25em;
    background-color: #e25;
    color: #fba;
    -webkit-box-shadow: 0 0.25em 0 0 #b10;
    -moz-box-shadow: 0 0.25em 0 0 #b10;
    box-shadow: 0 0.25em 0 0 #b10;
}

button.sign-up{
    position: relative;
    display: inline;
    top: 0.3em;
    left: 0.625em;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 0.4em;
    background-color: #fba;
    color: #e25;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

button.sign-up:hover {
    top: 0.3em;
    background-color: #e25;
    color: #fba;
    -webkit-box-shadow: 0 0.25em 0 0 #b10;
    -moz-box-shadow: 0 0.25em 0 0 #b10;
    box-shadow: 0 0.25em 0 0 #b10;
}

.sign-in a{
    position: relative;
    top: 20px;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 0.4em;
    background-color: #abf;
    color: #25e;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sign-in a:hover {
    top: 20px;
    background-color: #25e;
    color: #abf;
    -webkit-box-shadow: 0 0.25em 0 0 #01e;
    -moz-box-shadow: 0 0.25em 0 0 #01e;
    box-shadow: 0 0.25em 0 0 #01e;
}

.slides-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide .centered {
    width: 60%;
    margin: 20px auto 0;
}

.slide .centered h1 {
    text-align: center;
}

.slide .centered p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#slide-1 {
    background-color: #FFFFFF;
}

#slide-2 {
    background-color: #45959b;
}

#slide-3 {
    background-color: #778899;
}

#slide-4 {
    color: #FFFFFF;
    background-color: #291F37;
}

.go-prev, .go-next {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}