<div class="container" id="main-container">

  <!-- <section class="row" id="menu">
    <div class="col-xs-4 col-xs-offset-8">
      <button>Setting</button>
      <button>Log out</button>
    </div>
  </section>

  <section class="row" id="welcome">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>Welcome</h2>
      <h3>Xing</h3>
      <p>weight record <button id="view-btn">view</button></p>
    </div>
  </section>

  <section class="row" id="today-data">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h3>Today's data:</h3>
      <hr/>
      <p>weight: <input type="text" value="0"/> <button>save</button> </p>
      <p>BMI: <span>20</span></p>
      <p>IDEAL</p>
    </div>
  </section>

  <section class="row" id="set-goal">
    <div class="col-md-6 col-md-offset-3 text-center">
      <button id="set-goal-btn">Set a goal</button>
    </div>
  </section>

  <section class="row" id="current-goal">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h3>Current Goal:</h3>
      <hr/>
      <p>Goal: <span>30</span>kg</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        </div>
      </div>
      <div class="clearfix">
        <span style="float:left">Start!</span>
        <span style="float:right">Goal!</span>
      </div>
      <p>5 kg to go!</p>
      <p>Gotta burn <span>0.5</span>kg everyday!</p>
    </div>
  </section> -->

</div>